{% extends "base.twig" %}

{% block meta_description %}{{ post.excerpt.rendered|striptags|truncate(160) }}{% endblock %}

{% block content %}
<article class="section">
    <div class="container container-narrow">
        <header class="post-header">
            <a href="{{ lang == 'da' ? '/blog' : '/en/blog' }}" class="back-link">&larr; {{ t.post.back_to_blog }}</a>
            <h1>{{ post.title.rendered|raw }}</h1>
            <time datetime="{{ post.date }}">{{ post.date|date("F j, Y") }}</time>
        </header>

        <div class="post-content prose">
            {{ post.content.rendered|raw }}
        </div>
    </div>
</article>
{% endblock %}
